.infoandpaycon {
    justify-content: center;
    color: white;
}

.inpflex,
.infoandpaycon {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 2000px) and (min-width: 1000px) {


    .ftnmbox,
    .inpfnlntxt,
    .inplnwidth {
        width: 100%;
    }

    p {
        font-size: 2rem;
    }


}



@media only screen and (max-width: 1000px) and (min-width: 300px) {
    .infoandpaycon {
        flex-direction: column;
    }


    .inplnwidth,
    .inpfnwidth,
    .inpwidth {
        padding: 10px 5px;
        font-size: 1.5rem;
        width: 100%;
    }

    input.inpfnwidth,
    .ltnmbox {
        width: 80%;
    }

    p {
        font-size: 1rem;
    }


}

.infocon {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
    width: 50%;
}

.adbox,
.poscodbot,
.citbot,
.botcon {
    margin-top: 13px;
}

.adbot {
    margin-bottom: 13px;
}

.inplnwidth,
.inpfnwidth,
.inpwidth {
    padding: 10px 5px;
    font-size: 1.5rem;
}

input.inpfnwidth,
.ltnmbox {
    width: 50%;
}


.paybox {
    padding: 10px 20px;
    width: 30%;
    background: white;
    color: black;
}

.inpflex,
.inpwidth {
    width: 98%;
}

.checkout-item {
    text-align: center;
}

.checkout-item-image {
    max-width: 30%;
    margin-right: 10px;
}

.pricetotal {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 10px;
}