.infoandpaycon {
    justify-content: center;
    color: white;
}

.inpflex,
.infoandpaycon {
    display: flex;
    gap: 10px;
}

.infocon {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
    width: 50%;
}

p {
    font-size: 2rem;
}

.adbox,
.poscodbot,
.citbot,
.botcon {
    margin-top: 13px;
}

.adbot {
    margin-bottom: 13px;
}

.inplnwidth,
.inpfnwidth,
.inpwidth {
    padding: 10px 5px;
    font-size: 1.5rem;
}

input.inpfnwidth,
.ltnmbox {
    width: 50%;
}

.ftnmbox,
.inpfnlntxt,
.inplnwidth {
    width: 100%;
}

.paybox {
    padding: 10px 20px;
    width: 30%;
    background: white;
    color: black;
}

.inpflex,
.inpwidth {
    width: 98%;
}

.checkout-item {
    text-align: center;
}

.checkout-item-image {
    max-width: 30%;
    margin-right: 10px;
}

.pricetotal {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 10px;
}