.checkout-items-container div {
    margin-bottom: 10px;
}

.checkout-item-image {
    max-width: 50px;
    margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 400px;
    }
}

@media only screen and (min-width: 1001px) {
    .container {
        width: 900px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 500px;
    }
}

.container {

    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: black;
}

.content {
    flex: 2;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.summary {
    flex: 1;
    width: 80%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.checkout-items-container div,
.checkout-item {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
    border-radius: 5px;
}

.checkout-items-container div {
    width: 150px;
    text-align: center;
}

.checkout-item {
    padding: 10px;
}

.checkout-item-image {
    max-width: 50px;
    margin-right: 10px;
}

.checkout-item-name {
    margin-left: 10px;
}

.checkout-total {
    font-size: 1.4em;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: #222;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #fff;
    color: #333;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #aaa;
}

::placeholder {
    color: #aaa;
}

input:valid {
    border-color: #333;
}

input:invalid {
    border-color: #aa0000;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #444;
}

.col-md-6 {
    background: white;
}

.pricetotal {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-left: 10px;
}