.contxt,
.gittxt {



    text-align: center;
}

@media only screen and (max-width: 2500px) and (min-width: 1000px) {
    .flexbox {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .adinfo {
        font-size: 2.5rem;
    }

    .box1 {
        width: 30%;
        justify-content: center;
    }

    .box2 {
        padding: 20px 10px;
    }

    .inpwid {
        font-size: 15px;
    }

    .inpboxflex {
        gap: 20px;
    }

    .inpwidmail {
        font-size: 15px;
    }

    .textarea-custom {
        font-size: 15px;
    }

    .gittxt {
        width: 30%;
        font-size: 3.5rem;
    }
}


@media only screen and (max-width: 1000px) and (min-width: 200px) {

    .flexbox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .adinfo {
        font-size: 1.5rem;
    }

    .box1 {
        justify-content: flex-start;
        width: 80%;
    }

    .box2 {
        margin-top: 13px;
        padding: 20px 24px;

    }

    .inpwid,
    .inpwidmail,
    .textarea-custom {
        font-size: 13px;
    }

    .inpboxflex {
        flex-direction: column;
    }

    .gittxt {
        width: 50%;
        font-size: 3rem;
    }
}

.flexbox {
    display: flex;
}

.gittxt {
    margin-bottom: 10px;
}

.contxt {
    font-size: 3rem;
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.phonetxt {
    margin-left: -55px;
}

.mailflex {
    display: flex;
    border: 1px solid white;
    gap: 10px;
}



.adinfo {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.adbox {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    gap: 10px;

}

.whitecircle {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
}

.infocon {
    display: flex;
    border: 1px solid white;
}

.inputtxt {
    background: white;

    height: 20vh;
    width: 50%;
    color: black;

}

.box1 {
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.box2 {

    background: white;
}



.phonemailadbox {
    display: flex;
    margin-left: 8.5px;
    gap: 10px;
    margin-top: 10px;
}

.mailspace {
    margin-top: 10px;
}

.inpfstnm,
.inplstnm,
.inpmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inpfstnm,
.inplstnm {
    width: 100%;
}

.inpfstnm,
.inplstnm,
.inpmail {
    margin-bottom: 15px;
}

.inpmail {
    width: 100%
}

.inpboxmail {
    display: flex;
    justify-content: center;
    width: 100%;
}


.colortxt {
    color: black;
    font-size: 17.5px;
}

.inpboxflex {
    display: flex;
    justify-content: center;
}

.subbut {
    padding: 4px 10px;
    font-size: 20px;
    border: none;
    background: black;
    color: white;
}

.inpwid {
    padding: 10px 20px;
}

.inpwidmail {
    padding: 10px 20px;
}

.inpwidquest {
    padding: 10px 20px;
    font-size: 15px;
    max-width: 1000px;
}

.textarea-custom {
    font-size: 15px;
    min-height: 100px;
    max-height: 100px;
    min-width: 100%;
    max-width: 100%;
}