.contxt,
.gittxt {



    text-align: center;
}

@media only screen and (max-width: 2500px) and (min-width: 1000px) {}

@media only screen and (max-width: 1000px) and (min-width: 200px) {

    .flexbox {
        flex-direction: column;
    }
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.gittxt {
    width: 30%;
    margin-bottom: 10px;
    font-size: 3.5rem;
}

.contxt {
    font-size: 3rem;
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.phonetxt {
    margin-left: -55px;
}

.mailflex {
    display: flex;
    border: 1px solid white;
    gap: 10px;
}



.adinfo {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;

}

.adbox {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    gap: 10px;

}

.whitecircle {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
}

.infocon {
    display: flex;
    border: 1px solid white;
}

.inputtxt {
    background: white;

    height: 20vh;
    width: 50%;
    color: black;

}

.box1 {
    width: 30%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.box2 {
    padding: 20px 10px;
    background: white;
}



.phonemailadbox {
    display: flex;
    margin-left: 8.5px;
    gap: 10px;
    margin-top: 10px;
}

.mailspace {
    margin-top: 10px;
}

.phonetxt {
    margin-;
}


.inpfstnm,
.inplstnm,
.inpmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inpfstnm,
.inplstnm {
    width: 100%;
}

.inpfstnm,
.inplstnm,
.inpmail {
    margin-bottom: 15px;
}

.inpmail {
    width: 100%
}

.inpboxmail {
    display: flex;
    justify-content: center;
    width: 100%;
}


.colortxt {
    color: black;
    font-size: 17.5px;
}

.inpboxflex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.subbut {
    padding: 4px 10px;
    font-size: 20px;
    border: none;
    background: black;
    color: white;
}

.inpwid {
    padding: 10px 20px;
    font-size: 15px;
}

.inpwidmail {
    padding: 10px 20px;
    font-size: 15px;
}

.inpwidquest {
    padding: 10px 20px;
    font-size: 15px;
    max-width: 1000px;
}


.textarea-custom {
    font-size: 15px;
    min-height: 100px;
    max-height: 100px;
    min-width: 100%;
    max-width: 100%;
}