@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;

}

body {
    background: black;
    color: white;
    margin: 0;
    height: 100%;

}


.box {
    max-width: 680px;
    display: flex;
    position: relative;
}



@media only screen and (max-width: 2500px) and (min-width: 1000px) {
    .grid-container {
        display: grid;
        grid-template-columns: 50% 40%;
        grid-template-rows: auto auto;
        gap: 10px;
        justify-content: center;
        height: 30vh;
    }





    /* Style each grid item */
    .grid-item {
        padding: 20px;
        color: white;
        font-size: 18px;
    }

    .jacket {
        height: 550px;
    }


    .grid-item:nth-child(3) {
        margin-top: 30px;
    }

    .grid-item:nth-child(1),
    .grid-item:nth-child(3) {
        padding: 10px 20px;
    }

    .newstext {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .grid-item:nth-child(2) {
        padding: 20px 20px;
    }

    .textunder {
        font-size: 30px;


    }

    .imgrainman {
        height: 100%;

    }

    .grid-item:nth-child(3) {
        padding: 28px 28px;
    }

    .grid-item:nth-child(4) {
        margin-top: 30px;
    }

    .blackbox {
        height: 70%;
        margin-top: 13px;
    }

    .concon {
        font-size: 25px;
    }

    .box {
        height: 200px;
    }

    .suptext {
        font-size: 15px;

    }

    .textinfo {
        font-size: 25px;
        height: 80%;
    }

    .adresinfo {
        font-size: 15px;
    }


    .butinfo,
    button {
        padding: 13px 25px;
        font-size: 20px;
    }

    .butinfo {
        height: 135px;
    }

    .butinfo {
        height: 135px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        gap: 10px;
    }

    .grid-item:nth-child(1) {
        padding: 50px 10px;
    }

    .newsspan {
        font-size: 20px;
    }

    .textalign {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }


    .viewshop {
        padding: 10px 40px;
        font-size: 1.5rem;
    }

    .linkshop {
        font-size: 1.5rem;
    }

}



@media only screen and (max-width: 1000px) and (min-width: 300px) {

    .suptext {
        font-size: 10px;

    }

    .newstext {
        margin-bottom: 13px;
        font-size: 20px;
    }

    .jackbox {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 0px 20px;

    }

    .jacket {
        height: 450px;
        margin-bottom: -85px;
        margin-left: -10px;
    }

    .grid-item:nth-child(3) {
        margin-top: 10px;
        margin-top: 15px;
    }

    .grid-item:nth-child(2) {
        height: 19vh;
        margin-top: 15px;
    }

    .grid-item:nth-child(4) {
        margin-top: 15px;
    }


    .grid-container {
        display: flex;

        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .jacket {
        height: 60%;
    }

    .textunder {
        font-size: 20px;
        top: 60px;

    }

    .leafvec {
        height: 5%;
        padding: 10px 10px;
    }



    .imgrainman {
        height: 50%;
        margin-left: 15px;
    }

    .imagebox {
        display: flex;
        align-items: center;
    }

    .blackbox {
        height: 22%;
        margin-top: 2px;
    }

    .concon {
        font-size: 20px;
    }

    .box {
        height: 20vh;
        margin-bottom: -20px;
        margin-top: -20px;
    }

    .textinfo {
        font-size: 20px;
        height: 40%;
    }

    .adresinfo {
        font-size: 10px;
        margin-top: 17px;
    }

    .butinfo,
    button {
        padding: 4px 10px;
        font-size: 15px;
    }

    .butinfo {
        height: 95px;
        padding: 4px 8px;
        height: 102px;
        margin-bottom: -10px;
        justify-content: center;
    }



    .grid-item:nth-child(1) {}

    .upnews {
        padding: 9px 11px;
        border-radius: 100px;
        font-size: 8px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .newsspan {
        font-size: 15px;
    }

    .viewshop {
        padding: 5px 3px;
        font-size: 1.5rem;
        width: 80px;
    }

    .linkshop {
        font-size: 1rem;
    }

    .header {
        justify-content: flex-end;
    }

    .white-image {
        margin-left: -7px;
    }

    .flex-left {
        display: flex;
        width: 40%;
        margin-left: 4%;
        font-family: 'Work Sans', sans-serif;
        align-items: center;
        margin-top: 1%;
        margin-left: -5%;
    }

    ul {
        display: flex;
        gap: 10%;
        margin-left: 10px;
    }

    .contactlink,
    .aboutlink {
        font-size: 1rem;
    }


}


.viewshop {
    background: #262626;
    border: none;
    color: white;
}



.grid-item:nth-child(1),
.grid-item:nth-child(3) {
    grid-column: span 1;


    /* Takes up one column (60%) */
}

.grid-item:nth-child(1) {
    background: #FFFFFFF2;

}

.grid-item:nth-child(2) {
    background: linear-gradient(1.66deg, #0A3641 8.7%, #06BEE1 98.41%);
}

.grid-item:nth-child(3) {
    background: #F76C5E;

}

.grid-item:nth-child(4) {

    background: #FFFFFFF2;
}



.grid-item:nth-child(2),
.grid-item:nth-child(4) {
    grid-column: span 1;
    /* Takes up one column (30%) */
}

.ellipsecircle {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: black;
    margin: -5% -1%;
    margin-bottom: 15px;
    background: black;
}


.letterBox {
    display: flex;
    gap: 20px;
}

.adpage {
    overflow: hidden;
    /* Change overflow to visible */
    position: relative;
    /* Add relative positioning to the adpage */
}

.newstext {
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-left: 13px;
}

.jacket {
    margin-top: -25px;
    z-index: 0;
    position: relative;
}

.textunder {
    z-index: 1;
    position: absolute;
    bottom: 20px;
    font-family: 'Work Sans', sans-serif;

    left: 50px;
    width: 10%;

}

.storebox {

    display: flex;
    align-items: flex-end;
    height: 60%;
}

.adflex {
    display: flex;
}

.block {
    display: block;
}



.upnews {
    background: #262626;
    border-radius: 100px;
    color: white;
}

.leafvec {
    position: absolute;
}

.leaf {
    position: relative;
    z-index: 1;
}

.newsspan {
    margin-top: -10px;
    color: black;
    font-weight: bold;

}


.imgrainman {
    z-index: 1;
}

.imagebox {
    display: flex;
}

.blackbox {
    border: 18px solid black;
    border-radius: 25px;
    margin-left: -20px;
}

.infobox {
    width: 200px;
    height: 200px;

}




.textinfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.concerninfo {
    border: 1px solid black;
    width: 33%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}



.concon {
    color: #000000;

}

.adresinfo {
    color: black;
    text-align: right;
}

.textadhelp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mapad {
    text-align: right;
    display: flex;
    gap: 10px;
}

.rattext {
    color: black;
    font-size: 47px;
    font-style: "Work Sans";
}

.ratcon {
    display: flex;
}

.infrat {
    font-size: 15px;
    color: #000000;
}

.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3px;
}

.butinfo {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 10px;
}

.butinfo,
button {
    border-radius: 100px;
}

.linkshop {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 2000px) and (min-width: 1000px) {
    .boxtoprow {
        display: flex;
        margin-bottom: 3%;

    }

    .aboutlink {
        font-size: 2.5rem;
    }

    .contactlink {
        font-size: 2.5rem;
    }

    .logo {
        max-width: 30%;
        margin-top: 2%;
        padding: 20px;
        transform: translateX(4%);

    }

    .logoanc {
        display: inline-block;
    }

    a.logo {
        display: inline-block;
        /* or 'inline' */
    }

    .white-image {
        filter: brightness(0) saturate(100%) invert(1) grayscale(100%) contrast(100);
    }


    header {
        display: flex;
    }

    .flex-left {
        transform: translateX(-50%);
        display: flex;
        width: 60%;
        margin-left: 1%;
        font-family: 'Work Sans', sans-serif;
        align-items: center;
        margin-top: 1%;
    }

    li {
        list-style: none;
        font-size: 2.5rem;

        margin-top: -1%;
    }

    ul {
        display: flex;
        gap: 30%;
    }

    .flex-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5em;
        padding: 20px;
        font-size: 2.5rem;
        width: 100%;

    }


    .arrowup {
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        background: #F4D35E;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsletterbox {
        background: #FFFFFFF2;
        height: 45vh;
        width: 55%;
        margin: 0 auto;
        margin-left: 3%;
        transform: translateX(-2%);
        border-radius: 25px;
    }

    .adjacket {
        background: linear-gradient(1.66deg, #0A3641 8.7%, #06BEE1 98.41%);
        overflow: hidden;
        height: 45vh;
        width: 40%;
        margin: 0 auto;
        margin-left: 2%;
        transform: translateX(-3%);
        border-radius: 25px;
    }
}


@media only screen and (max-width: 1000px) and (min-width: 200px) {
    .logo {
        max-width: 90px;
        margin-top: 2%;
        padding: 20px;
        margin-left: 5px;
    }

}

.logoanc {
    display: inline-block;
}

a.logo {
    display: inline-block;
    /* or 'inline' */
}

.white-image {
    filter: brightness(0) saturate(100%) invert(1) grayscale(100%) contrast(100);
}


header {
    display: flex;
    justify-content: center;
}



li {
    list-style: none;
    font-size: 2rem;

    margin-top: -1%;
}





.flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    padding: 20px;
    font-size: 1rem;


}


.arrowup {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background: #F4D35E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 60%;
}



.boxtoprow {
    margin-bottom: 3%;

}

.newsletterbox {
    background: #FFFFFFF2;
    height: 45vh;
    width: 85%;
    margin: 0 auto;

    border-radius: 25px;
}

.adjacket {
    background: linear-gradient(1.66deg, #0A3641 8.7%, #06BEE1 98.41%);
    overflow: hidden;
    height: 45vh;
    width: 85%;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 3%;
}

.aboutlink {
    text-decoration: none;
    color: white;
}

.contactlink {
    text-decoration: none;
    color: white;
}

.spanadtxt {
    display: flex;
    align-items: center;
    margin-top: 20px;
}








.boxflex {
    display: flex;
}

.ellipsecircle {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5% 4%;
    background: black;
}

.umbrella {
    margin-left: 30%;
    margin-top: 20%;
}

.norainydays {
    color: black;
    margin-top: 4.5%;
    font-size: 2rem;
}

.divbox {
    margin: 0 auto;
    font-size: 3rem;
    width: 70%;
}

.midtextblock {
    display: block;
    color: black;
    font-size: 4rem;
    margin-top: -1%;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0%;
}

.midtext {
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3.5%;
    margin-left: -13%;
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
    .WeatherJacket {
        margin-left: -1%;
    }

    .text {
        font-size: 3rem;
    }
}

.vector {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 20px 30px;
}

.text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: 'Work Sans', sans-serif;
    width: 20%;
    padding: 30px 40px;
}

@media only screen and (max-width: 2000px) and (min-width: 1000px) {
    .boxbottomrow {
        display: flex;
        gap: 10px;

    }

    .supportbox {
        background: #F76C5E;
        margin: 0 auto;
        height: 30vh;
        width: 55%;
        margin-left: 3%;
        transform: translateX(-2%);
        border-radius: 25px;
    }

    .containerofinformation {
        position: absolute;
        top: 0;
        width: 95%;
        margin-top: 3%;
    }

    .raincoat-box {
        margin: 45px 50px;
    }

    .raincoat {
        height: 20vh;
        border: none;
    }

    .reviewbox {
        background: #FFFFFFF2;
        height: 30vh;
        width: 40%;
        margin: 0 auto;
        margin-left: 2%;
        transform: translateX(-3%);
        border-radius: 25px;
    }

    .buttontop {
        position: absolute;
        gap: 10%;
        left: 5%;
        margin-top: -10%;
        display: flex;
        gap: 5px;

    }

    .buttonbottom {
        left: 10%;
        margin-left: 5%;
        bottom: 1%;
        margin-top: 15%;
        display: flex;
        gap: 5px;


    }

    .buttonsize {
        padding: 13px 40px;
        border: 1px solid #000000;
        border-radius: 100px;
        font-size: 2rem;
    }



}




.container {
    position: relative;
    width: 300px;
    height: 200px;
    border: none;
}




.small-box {
    position: absolute;
    top: 0;
    right: 80px;
    width: 18vh;
    height: 15vh;
    background-color: black;
    border-radius: 10px;
    z-index: -1;
    margin-top: 7%;
    border-radius: 25px;
}


.supportall {
    text-align: left;
    color: black;

}

.circle {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}