/* Container */


/* Boxes */


@media only screen and (max-width: 2000px) and (min-width: 750px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-items: center;
        align-items: center;
    }


    /* Address and Empty Box */
    .infoaddress,
    .empty-box {
        text-align: center;
        max-width: 50%;
        padding: 20px;
        background-color: #f2f2f2;
        color: black;
        margin-top: 5%;
    }

    .box1,
    .box2,
    .box3 {
        border-radius: 10px;
    }

    .box1 {
        margin-left: 25%;
    }

    .box2 {
        margin-right: 25%;
    }

    .box3 {
        padding: 20px 40px;
        width: 44.5%;
        margin-left: 25%;
    }

    .cardinp {
        font-size: 1.2rem;
        width: 100%;
    }

    /* Cardnam */
    .cardnam {
        width: 57%;
        margin-left: 9.5%;
    }

    /* Inputconcard */
    .inputconcard {
        width: 60%;
        margin-left: 5.3%;
    }

    /* Carinpcon */
    .carinpcon {
        margin: 3% 0;
    }

    /* Secinp */
    .secinp {
        font-size: 1.2rem;
    }

    /* Secinpcon */
    .secinpcon {
        margin-left: 4%;
    }

    .fontinfosize {
        font-size: 1.5rem;
    }

    .myadtitle {
        font-size: 2.5rem;
        text-align: left;
    }

}

@media only screen and (max-width: 750px) and (min-width: 400px) {
    .container {}

    /* Address and Empty Box */
    .infoaddress,
    .empty-box {
        text-align: center;
        max-width: 50%;
        padding: 20px;
        background-color: #f2f2f2;
        color: black;
        margin-top: 5%;
    }

    .box1,
    .box2,
    .box3 {
        border-radius: 10px;

    }

    .box1 {
        margin-left: 25%;
    }

    .box2 {
        margin-left: 40%;
        padding: 10px 40px;
    }

    .box3 {
        padding: 20px 70px;
        width: 70%;
        margin-left: 25%;
    }

    .cardinp {
        font-size: 12px;
        width: 100%;
    }

    /* Cardnam */
    .cardnam {
        width: 57%;
        margin-left: 9.5%;
    }

    /* Inputconcard */
    .inputconcard {
        width: 60%;
        margin-left: 5.3%;
    }

    /* Carinpcon */
    .carinpcon {
        margin: 3% 0;
    }

    /* Secinp */
    .secinp {
        font-size: 12px;
        width: 100%;
    }

    /* Secinpcon */
    .secinpcon {
        margin-left: 4%;
        width: 100px;
    }

    .flex-container {
        width: 5%;
    }

    .fontinfosize {
        font-size: 10px;
        width: 100%;
        margin-left: -50%;
    }

    .myadtitle {
        font-size: 1.5rem;
        text-align: left;
        margin-left: -15%;
    }

}

/* Pay Text */
.paytext {
    margin-left: -5%;
}

/* Input Row */
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* My Ad Title */


/* Price Row */
.price-row {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin-top: 5%;
}

/* Line */
.line {
    margin-bottom: 1px solid black;
    margin-top: 8%;
}

/* Place Order Button */
.placeord {
    margin-top: 10%;
    padding: 7px 20px;
    font-size: 1rem;
    border: none;
    background: black;
    color: white;
    border-radius: 100px;
    margin-bottom: -5px;
}

#placeOrderBtn {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.input-row div {
    flex: 1;
    margin: 0 10px;
}

.fila {
    margin-top: 10%;
    font-size: 1.5rem;
}

.infila {
    width: 100%;
    height: 30%;
    font-size: 1.5rem;
}

.textinfo {
    text-align: left;
}

.ad {
    width: 100%;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 0%;
}

.ca {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 2%;
}


.stinp {
    width: 100%;
    height: 35%;
    font-size: 1.5rem;
}

.downin {
    width: 100%;
    height: 35%;
    font-size: 1rem;
    margin-top: 3%;
}

/* Paybox */
.paybox {
    background: purple;
    color: white;
    height: 10px;
    margin: 2% auto;
    margin-left: 18.7%;
    margin-right: 50.7%;
}

/* Month and Year */
#month,
#year {
    font-size: 1.5rem;
    /* Adjust the font size as desired */
}



/* Input Container */
.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Adjust the gap value as needed */
}

/* Cardinp */